:root {
  --small-text: #222222;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

small {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

nav {
  margin-bottom: 26px;
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}
.hero--wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  padding-right: 36px;
}
.hero--img {
  max-width: 400px;
  margin-bottom: 32px;
  align-self: center;
}
.hero--title {
  font-size: 36px;
  margin-bottom: 16px;
}
.hero--text {
  color: var(--small-text);
  font-size: 16px;
  margin-top: 0px;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  margin-left: 25px;
}
.card {
  position: relative;
  flex-direction: column;
  max-width: 176px;
  display: flex;
  overflow: hidden;
  flex: 0 0 auto;
}
.card--status {
  position: absolute;
  width: 61px;
  height: 20px;
  font-size: 10.24px;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  line-height: 2;
  top: 6px;
  left: 6px;
}
.card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  margin-bottom: 7px;
}
.card--stats {
  display: flex;
  align-items: center;
}
.card--stats img {
  width: 14px;
  height: 14px;
  margin-bottom: 2px;
  border-radius: 0.5px;
}

.card--more--info {
  color: #918e9b;
}

.card--desc {
  color: #222222;
}
